@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q0v36h');
  src:  url('fonts/icomoon.eot?q0v36h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q0v36h') format('truetype'),
    url('fonts/icomoon.woff?q0v36h') format('woff'),
    url('fonts/icomoon.svg?q0v36h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e1152";
}
.icon-empty1:before {
  content: "\e1153";
}
.icon-empty76:before {
  content: "\1f37c";
}
.icon-empty81:before {
  content: "\1f46a";
}
.icon-empty85:before {
  content: "\1f92b";
}
.icon-empty103:before {
  content: "\e1154";
}
.icon-empty104:before {
  content: "\1f5bc";
}
.icon-empty106:before {
  content: "\1f512";
}
.icon-empty107:before {
  content: "\1f513";
}
.icon-empty108:before {
  content: "\e1155";
}
.icon-empty110:before {
  content: "\e1156";
}
.icon-empty111:before {
  content: "\e1157";
}
.icon-empty114:before {
  content: "\e1158";
}
.icon-empty115:before {
  content: "\1f688";
}
.icon-empty116:before {
  content: "\e1159";
}
.icon-empty117:before {
  content: "\e1160";
}
.icon-empty78:before {
  content: "\e1161";
}
.icon-empty2:before {
  content: "\2b";
}
.icon-empty3:before {
  content: "\3c";
}
.icon-empty4:before {
  content: "\3e";
}
.icon-empty5:before {
  content: "\3f";
}
.icon-empty6:before {
  content: "\a7";
}
.icon-empty7:before {
  content: "\1030e";
}
.icon-empty8:before {
  content: "\1f310";
}
.icon-empty9:before {
  content: "\1f37d";
}
.icon-empty10:before {
  content: "\1f381";
}
.icon-empty11:before {
  content: "\1f3ab";
}
.icon-empty12:before {
  content: "\1f441";
}
.icon-empty13:before {
  content: "\1f4ac";
}
.icon-empty14:before {
  content: "\1f4b3";
}
.icon-empty15:before {
  content: "\1f4ba";
}
.icon-empty16:before {
  content: "\1f4c6";
}
.icon-empty17:before {
  content: "\1f4cd";
}
.icon-empty18:before {
  content: "\1f4de";
}
.icon-empty19:before {
  content: "\1f4f1";
}
.icon-empty20:before {
  content: "\1f4f4";
}
.icon-empty21:before {
  content: "\1f507";
}
.icon-empty22:before {
  content: "\1f508";
}
.icon-empty23:before {
  content: "\1f509";
}
.icon-empty24:before {
  content: "\1f50a";
}
.icon-empty25:before {
  content: "\1f50c";
}
.icon-empty26:before {
  content: "\1f50d";
}
.icon-empty27:before {
  content: "\1f514";
}
.icon-empty28:before {
  content: "\1f515";
}
.icon-empty29:before {
  content: "\1f553";
}
.icon-empty30:before {
  content: "\1f5a8";
}
.icon-empty31:before {
  content: "\1f5b7";
}
.icon-empty32:before {
  content: "\1f5b9";
}
.icon-empty33:before {
  content: "\1f5d1";
}
.icon-empty34:before {
  content: "\1f5d8";
}
.icon-empty35:before {
  content: "\1f5fa";
}
.icon-empty36:before {
  content: "\1f637";
}
.icon-empty37:before {
  content: "\1f642";
}
.icon-empty38:before {
  content: "\1f684";
}
.icon-empty39:before {
  content: "\1f689";
}
.icon-empty40:before {
  content: "\1f6b2";
}
.icon-empty41:before {
  content: "\1f6b6";
}
.icon-empty42:before {
  content: "\1f6b9";
}
.icon-empty43:before {
  content: "\1f6ba";
}
.icon-empty44:before {
  content: "\1f6bb";
}
.icon-empty45:before {
  content: "\1f6be";
}
.icon-empty46:before {
  content: "\1f6c8";
}
.icon-empty47:before {
  content: "\1f6cd";
}
.icon-empty48:before {
  content: "\1f6d2";
}
.icon-empty49:before {
  content: "\1f78b";
}
.icon-empty50:before {
  content: "\1f862";
}
.icon-empty51:before {
  content: "\1f865";
}
.icon-empty52:before {
  content: "\1f907";
}
.icon-empty53:before {
  content: "\1f9f3";
}
.icon-empty54:before {
  content: "\2190";
}
.icon-empty55:before {
  content: "\2191";
}
.icon-empty56:before {
  content: "\2192";
}
.icon-empty57:before {
  content: "\2193";
}
.icon-empty58:before {
  content: "\21a6";
}
.icon-empty59:before {
  content: "\21c6";
}
.icon-empty60:before {
  content: "\21f5";
}
.icon-empty61:before {
  content: "\2212";
}
.icon-empty62:before {
  content: "\2295";
}
.icon-empty63:before {
  content: "\229d";
}
.icon-empty64:before {
  content: "\22ee";
}
.icon-empty65:before {
  content: "\22ef";
}
.icon-empty66:before {
  content: "\2302";
}
.icon-empty67:before {
  content: "\2303";
}
.icon-empty68:before {
  content: "\2304";
}
.icon-empty69:before {
  content: "\2370";
}
.icon-empty70:before {
  content: "\23ed";
}
.icon-empty71:before {
  content: "\23ee";
}
.icon-empty72:before {
  content: "\23f0";
}
.icon-empty73:before {
  content: "\23f8";
}
.icon-empty74:before {
  content: "\2488";
}
.icon-empty75:before {
  content: "\2489";
}
.icon-empty77:before {
  content: "\25a1";
}
.icon-empty79:before {
  content: "\25b7";
}
.icon-empty80:before {
  content: "\25f9";
}
.icon-empty82:before {
  content: "\2606";
}
.icon-empty83:before {
  content: "\2615";
}
.icon-empty84:before {
  content: "\2661";
}
.icon-empty86:before {
  content: "\267f";
}
.icon-empty87:before {
  content: "\2699";
}
.icon-empty88:before {
  content: "\26a0";
}
.icon-empty89:before {
  content: "\2705";
}
.icon-empty90:before {
  content: "\2709";
}
.icon-empty91:before {
  content: "\270f";
}
.icon-empty92:before {
  content: "\2713";
}
.icon-empty93:before {
  content: "\2714";
}
.icon-empty94:before {
  content: "\271a";
}
.icon-empty95:before {
  content: "\291e";
}
.icon-empty96:before {
  content: "\293a";
}
.icon-empty97:before {
  content: "\293b";
}
.icon-empty98:before {
  content: "\29bf";
}
.icon-empty99:before {
  content: "\2a2f";
}
.icon-empty100:before {
  content: "\2b73";
}
.icon-empty101:before {
  content: "\2b94";
}
.icon-empty102:before {
  content: "\2bbe";
}
.icon-empty105:before {
  content: "\e1062";
}
.icon-empty109:before {
  content: "\e1066";
}
.icon-empty112:before {
  content: "\e1069";
}
.icon-empty113:before {
  content: "\e1070";
}
.icon-empty120:before {
  content: "\e1077";
}
.icon-empty122:before {
  content: "\e1079";
}
.icon-empty124:before {
  content: "\e1081";
}
.icon-empty125:before {
  content: "\e1082";
}
.icon-empty126:before {
  content: "\e1083";
}
.icon-empty127:before {
  content: "\e1084";
}
.icon-empty128:before {
  content: "\e1085";
}
.icon-empty129:before {
  content: "\e1086";
}
.icon-empty130:before {
  content: "\e1087";
}
.icon-empty131:before {
  content: "\e1088";
}
.icon-empty134:before {
  content: "\e1091";
}
.icon-empty138:before {
  content: "\e1095";
}
.icon-empty141:before {
  content: "\e1098";
}
.icon-empty144:before {
  content: "\e1101";
}
.icon-empty145:before {
  content: "\e1102";
}
.icon-empty146:before {
  content: "\e1103";
}
.icon-empty147:before {
  content: "\e1104";
}
.icon-empty149:before {
  content: "\e1106";
}
.icon-empty151:before {
  content: "\e1108";
}
.icon-empty153:before {
  content: "\e1110";
}
.icon-empty156:before {
  content: "\e1113";
}
.icon-empty158:before {
  content: "\e1115";
}
.icon-empty159:before {
  content: "\e1116";
}
.icon-empty162:before {
  content: "\e1119";
}
.icon-empty163:before {
  content: "\e1120";
}
.icon-empty164:before {
  content: "\e1121";
}
.icon-empty165:before {
  content: "\e1122";
}
.icon-empty166:before {
  content: "\e1123";
}
.icon-empty169:before {
  content: "\e1126";
}
.icon-empty170:before {
  content: "\e1127";
}
.icon-empty171:before {
  content: "\e1128";
}
.icon-empty172:before {
  content: "\e1129";
}
.icon-empty173:before {
  content: "\e1130";
}
.icon-empty174:before {
  content: "\e1131";
}
.icon-empty175:before {
  content: "\e1132";
}
.icon-empty177:before {
  content: "\e1134";
}
.icon-empty179:before {
  content: "\e1136";
}
.icon-empty180:before {
  content: "\e1137";
}
.icon-empty181:before {
  content: "\e1138";
}
.icon-empty182:before {
  content: "\e1139";
}
.icon-empty183:before {
  content: "\e1140";
}
.icon-empty184:before {
  content: "\e1141";
}
.icon-empty185:before {
  content: "\e1142";
}
.icon-empty186:before {
  content: "\e1143";
}
.icon-empty187:before {
  content: "\e1144";
}
.icon-empty188:before {
  content: "\e1145";
}
.icon-empty189:before {
  content: "\e1146";
}
.icon-empty190:before {
  content: "\e1147";
}
.icon-empty191:before {
  content: "\e1148";
}
.icon-empty192:before {
  content: "\e1149";
}
.icon-empty193:before {
  content: "\e1150";
}
.icon-empty194:before {
  content: "\e1151";
}
