<header class="modal-header">
  <h3 *ngIf="!text" class="elm-headline">
    <strong>{{'Shared.Error' | translate}}: {{apiProblem?.title}} <small>({{apiProblem?.errorCode}})</small></strong>
  </h3>
  <h3 *ngIf="text" class="elm-headline">
    <strong>{{'Shared.Error' | translate}}</strong>
  </h3>
</header>
<main class="modal-main">
  <div *ngIf="!text">
    <div style="font-weight: bold;">
      Details: 
    </div>
    <div *ngIf="apiProblem?.errors else main">
      <div *ngFor="let item of apiErrors" class="modal-details">
        {{item.errorCode}}: {{item.title}} <br> {{item.detail}}
      </div>
    </div>
    <ng-template #main>
      <div class="modal-details">
        {{apiProblem?.detail}}
      </div>
    </ng-template>
    <div class="border-line"></div>
    <div>
      <!-- <i data-icon="info" data-icon-variant="24-outline" style="color: #ec0016; padding-right: 10px;"></i> -->
        <strong>{{'Shared.Instance' | translate}}: </strong> {{instance}}
    </div>
  </div>
  <div *ngIf="text">
    <i data-icon="cancel" data-icon-variant="24-outline" style="color: #ec0016; padding-right: 10px;"></i>
      {{text}}
  </div>
    <div class="button-group">
      <db-button variant="brand-primary" type="button" mat-dialog-close (click)="close()">
        Ok
      </db-button>
    </div>
</main>
