<ng-container *ngIf="permissionsLoaded">
    <app-header #header></app-header>
    <section>
        <router-outlet></router-outlet>
    </section>
    <app-footer></app-footer>
    <div class="cmp-notification toaster" [id]="toasterElementId" role="status" style="display: none; position: fixed; bottom: 20px; margin: 0; padding: 0;">
        <div class="cmp-notification" role="status" style="margin: 0; color: #fff;">
            <db-icon slot="prenotification" icon="info"/>
            <p></p>
        </div>
    </div>
</ng-container>