$icomoon-font-family: "EDS-Icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic-24-outline-visibility_off: "\e1082";
$icon-ic-24-outline-visibility: "\1f441";
$icon-ic-24-outline-volume_down: "\1f509";
$icon-ic-24-outline-volume_mute: "\1f508";
$icon-ic-24-outline-volume_up: "\1f50a";
$icon-ic-24-outline-zoom_in: "\e1083";
$icon-ic-24-outline-zoom_out: "\e1084";
$icon-ic-24-outline-upload_cloud: "\e923";
$icon-ic-24-outline-undo: "\e922";
$icon-ic-24-outline-scale: "\e920";
$icon-ic-24-outline-save: "\1f4be";
$icon-ic-24-outline-route: "\e918";
$icon-ic-24-outline-reset: "\e917";
$icon-ic-24-outline-print: "\1f5a8";
$icon-ic-24-outline-play: "\25b7";
$icon-ic-24-outline-phone: "\1f4de";
$icon-ic-24-outline-legal: "\a7";
$icon-ic-24-outline-outgoing: "\e916";
$icon-ic-24-outline-new_open: "\e915";
$icon-ic-24-outline-maximize: "\e914";
$icon-ic-24-outline-marketplace: "\e907";
$icon-ic-24-outline-link: "\1f517";
$icon-ic-24-outline-incoming: "\e911";
$icon-ic-24-outline-history: "\e910";
$icon-ic-24-outline-forward: "\e900";
$icon-ic-24-outline-folder_open: "\1f4c2";
$icon-ic-24-outline-folder: "\1f4c1";
$icon-ic-24-outline-favorite: "\2605";
$icon-ic-24-outline-edit: "\270f";
$icon-ic-24-outline-download: "\2b73";
$icon-ic-24-outline-discard: "\e901";
$icon-ic-24-outline-database: "\e906";
$icon-ic-24-outline-dashboard: "\e902";
$icon-ic-24-outline-circle-question: "\3f";
$icon-ic-24-outline-circle-delete: "\229d";
$icon-ic-24-outline-circle-confirm: "\2705";
$icon-ic-24-outline-circle-close: "\2bbe";
$icon-ic-24-outline-circle-add: "\2295";
$icon-ic-24-outline-calendar: "\1f4c5";
$icon-ic-24-outline-build: "\1f527";
$icon-ic-24-outline-attachment: "\1f4ce";
$icon-ic-24-outline-alarm: "\23f0";
$icon-ic-24-outline-mail: "\2709";
$icon-ic-24-outline-alert: "\1f514";
$icon-ic-24-outline-arrow-direction: "\21c6";
$icon-ic-24-outline-arrow-m-down: "\2304";
$icon-ic-24-outline-arrow-m-left: "\3c";
$icon-ic-24-outline-arrow-m-right: "\3e";
$icon-ic-24-outline-arrow-m-up: "\2303";
$icon-ic-24-outline-arrow-s-down: "\e90c";
$icon-ic-24-outline-arrow-s-left: "\e90d";
$icon-ic-24-outline-arrow-s-right: "\e90e";
$icon-ic-24-outline-arrow-s-up: "\e90f";
$icon-ic-24-outline-bin: "\1f5d1";
$icon-ic-24-outline-cam: "\1f4f7";
$icon-ic-24-outline-check: "\2713";
$icon-ic-24-outline-close: "\2a2f";
$icon-ic-24-outline-cloud: "\2601";
$icon-ic-24-outline-copy: "\e913";
$icon-ic-24-outline-document-list: "\1f4c4";
$icon-ic-24-outline-settings: "\2699";
$icon-ic-24-outline-euro: "\20ac";
$icon-ic-24-outline-falafel: "\22ef";
$icon-ic-24-outline-faqs: "\2370";
$icon-ic-24-outline-funnel: "\e919";
$icon-ic-24-outline-grid: "\1030e";
$icon-ic-24-outline-hamburger: "\2261";
$icon-ic-24-outline-heart: "\2661";
$icon-ic-24-outline-home: "\2302";
$icon-ic-24-outline-image: "\1f5bc";
$icon-ic-24-outline-circle-info: "\1f6c8";
$icon-ic-24-outline-kebab: "\fe19";
$icon-ic-24-outline-list: "\e1121";
$icon-ic-24-outline-destination: "\1f4cd";
$icon-ic-24-outline-lock-open: "\1f513";
$icon-ic-24-outline-message: "\1f4ac";
$icon-ic-24-outline-plus: "\2b";
$icon-ic-24-outline-refresh: "\1f5d8";
$icon-ic-24-outline-search: "\1f50d";
$icon-ic-24-outline-share-android: "\e928";
$icon-ic-24-outline-shopping-cart: "\1f6d2";
$icon-ic-24-outline-upload: "\e1081";
$icon-ic-24-outline-user: "\1f642";
$icon-ic-24-outline-warning: "\26a0";
