$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic-32-outline-calendar: "\1f4c5";
$icon-ic-32-outline-cloud: "\2601";
$icon-ic-32-outline-dashboard: "\e902";
$icon-ic-32-outline-document: "\e905";
$icon-ic-32-outline-download: "\e904";
$icon-ic-32-outline-edit: "\270f";
$icon-ic-32-outline-home: "\1f3e0";
$icon-ic-32-outline-list-L: "\e912";
$icon-ic-32-outline-list-M: "\e908";
$icon-ic-32-outline-list-S: "\e909";
$icon-ic-32-outline-questionmark: "\3f";
$icon-ic-32-outline-upload: "\e90b";
$icon-ic-32-outline-bin: "\1f5d1";
