$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic-24-solid-alarm_clock: "\23f0";
$icon-ic-24-solid-bin: "\1f5d1";
$icon-ic-24-solid-build: "\1f527";
$icon-ic-24-solid-calendar: "\1f4c5";
$icon-ic-24-solid-circle-add: "\2295";
$icon-ic-24-solid-circle-close: "\2bbe";
$icon-ic-24-solid-circle-delete: "\229d";
$icon-ic-24-solid-circle-question: "\3f";
$icon-ic-24-solid-cloud: "\2601";
$icon-ic-24-solid-dashboard: "\e902";
$icon-ic-24-solid-edit: "\270f";
$icon-ic-24-solid-filter: "\e919";
$icon-ic-24-solid-folder_open: "\1f4c2";
$icon-ic-24-solid-folder: "\1f4c1";
$icon-ic-24-solid-heart: "\2665";
$icon-ic-24-solid-home: "\1f3e0";
$icon-ic-24-solid-image: "\1f5bc";
$icon-ic-24-solid-location: "\1f4cd";
$icon-ic-24-solid-mail: "\2709";
$icon-ic-24-solid-marcetplace: "\e907";
$icon-ic-24-solid-play: "\25b6";
$icon-ic-24-solid-save: "\1f4be";
$icon-ic-24-solid-view_off: "\e924";
$icon-ic-24-solid-view: "\1f441";
$icon-ic-24-solid-volume_down: "\1f509";
$icon-ic-24-solid-volume_mute: "\1f507";
$icon-ic-24-solid-volume_up: "\1f50a";
$icon-ic-24-solid-user: "\1f642";
$icon-ic-24-solid-alarm: "\1f514";
$icon-ic-24-solid-arrow-M-down: "\25bc";
$icon-ic-24-solid-arrow-M-left: "\25c0";
$icon-ic-24-solid-arrow-M-right: "\27a1";
$icon-ic-24-solid-arrow-M-up: "\25b2";
$icon-ic-24-solid-circle-attention: "\21";
$icon-ic-24-solid-circle-check: "\2713";
$icon-ic-24-solid-settings: "\2699";
$icon-ic-24-solid-favorit: "\2605";
$icon-ic-24-solid-circle-forbidden: "\274c";
$icon-ic-24-solid-message: "\1f4ac";
$icon-ic-24-solid-mic: "\1f399";
$icon-ic-24-solid-share-android: "\e928";
$icon-ic-24-solid-shopping-cart: "\1f6d2";
$icon-ic-24-solid-telefon: "\1f4de";
$icon-ic-24-solid-upload: "\e90b";
$icon-ic-24-solid-watch: "\1f552";
