<header class="modal-header">
    <h3 class="elm-headline">
      <strong>{{ data.headerText | translate}}</strong>
    </h3>
  </header>
  <main class="modal-main">
    <form>
      <div>
        <div>
          <div style="text-align:center">
            <br>{{data.bodyText | translate}}
          </div>
          <div class="button-group">
            <input class="elm-button" data-variant="brand-primary" type="button" mat-dialog-close value="{{'Shared.Confirmations.Yes' | translate}}" (click)="onConfirm()">
            <button class="elm-button" data-variant="secondary-solid" type="button" (click)="onCancel()" mat-dialog-close>
              {{'Shared.Confirmations.No' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>