$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic-48-outline-cart: "\1f6d2";
$icon-ic-48-outline-close: "\2a2f";
$icon-ic-48-outline-database: "\e906";
$icon-ic-48-outline-doc-check: "\e903";
$icon-ic-48-outline-doc-list: "\1f4c4";
$icon-ic-48-outline-document: "\e905";
$icon-ic-48-outline-heart: "\2665";
$icon-ic-48-outline-market: "\e907";
$icon-ic-48-outline-more: "\22ef";
$icon-ic-48-outline-plus: "\2b";
$icon-ic-48-outline-folder-close: "\1f4c1";
$icon-ic-48-outline-folder-open: "\1f4c2";
