@use 'color';

span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    margin-bottom: 35px;
}

.modal-main {
    overflow: hidden;
    padding-bottom: 32px;
}

.train-data-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    caret-color: black;
  }

.input-block {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 17px;
    margin-bottom: 17px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 17px;
    margin-bottom: 17px;

    h3 {
        margin-bottom: 13px;
        grid-column: 2;
        margin-top: 20px
    }
}
    h3 {
        margin-bottom: 13px;
        grid-column: 2;
        margin-top: 20px
    }

.input-block-complete {
    padding-right: 10px;
    grid-template-columns: max-content;
    .border-transport-up {
        //max-width: 99%;
        height: 1px;
        border: solid 1px #c8cdd2;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .border-transport-down {
        //max-width: 99%;
        height: 1px;
        border: solid 1px #c8cdd2;
        margin-top: 3px;
        margin-bottom: 20px;
    }
}

#misc-information {
    //max-width: 98%;
    height: 85px;
    background-color:color.$background-color-light;
    border: none;
    resize: none;
    //max-width: 98%;
    height: 85px;
    background-color:color.$background-color-light;
    border: none;
    resize: none;
}

.textarea-length {
    float: right;
    font-size: 12px;
    color: #646973;
    margin-right: 18px;
}

.error-block {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: right;
}


.textarea-length {
    float: right;
    font-size: 12px;
    color: #646973;
    margin-right: 18px;
}

.error-block {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: right;
}

.form-control-block {
    margin-top: 90px;
    margin-top: 90px;

    div {
        float: right;
    }
    div {
        float: right;
    }

    button {
        &:last-of-type {
            margin-left: 30px;
        }
    }
    button {
        &:last-of-type {
            margin-left: 30px;
        }
    }
}

.info-block {
    overflow-y: auto;
    max-height: calc(100vh - 595px);
    display: grid;
    gap: 0.5em;

    .column {
        float: left;
    }

    .left {
        width: 45%;
    }

    .right {
        width: 55%;
    }
}

.icon-block {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 30px;

    .icon {
        position: absolute;
    }
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 30px;

    .icon {
        position: absolute;
    }
}


.hide-icon {
    visibility: hidden;
    visibility: hidden;
}


.show-icon {
    visibility: visible;
    visibility: visible;
}


nav {
    margin-bottom: 60px;
    margin-bottom: 60px;
}


form {
    .input-block {
        min-height: calc(100vh - 794px);
    }

    .input-block:first-of-class {
        display: grid;
    }
    .input-block {
        min-height: calc(100vh - 794px);
    }

    .input-block:first-of-class {
        display: grid;
    }

    .tab-hide {
        display: none;
    }
    .tab-hide {
        display: none;
    }
}
.cmp-mainnavigation {
    position: relative;
    top: 0;

    // Displaying the main navigation as an top to bottom overlay on smaller viewports
    @media screen and (max-width: 0px) {
        position: absolute;
        top: to-rem-sass(64);
        left: 0;
        z-index: 0;

        width: 100vw;

        //background-color: $black-ter;

        & > input[type="checkbox"][id]:not(:checked) {
            // Hiding the cross on collapsed navigation
            & + label[for] {
                &::after {
                    content: none;
                }
            }
            // Hiding the navigation
            & ~ ul {
                display: block;
            }
        }
    }
    position: relative;
    top: 0;

    // Displaying the main navigation as an top to bottom overlay on smaller viewports
    @media screen and (max-width: 0px) {
        position: absolute;
        top: to-rem-sass(64);
        left: 0;
        z-index: 0;

        width: 100vw;

        //background-color: $black-ter;

        & > input[type="checkbox"][id]:not(:checked) {
            // Hiding the cross on collapsed navigation
            & + label[for] {
                &::after {
                    content: none;
                }
            }
            // Hiding the navigation
            & ~ ul {
                display: block;
            }
        }
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 200px auto;

    .grid-item {
        &div {
            max-width: 702px;
            margin: auto;
        }

        .block-title {
            font-size: 1.1em;
            font-weight: bold;
        }

        .input-block {
            overflow-y: auto;
            // max-height: calc(100vh - 551px);
            display: grid;
            gap: 0.5em;
            margin: unset;

            .input-field{
                width: 328px;
                margin: unset;
            }

            .small-input-block{
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 0.5em;
                .input-field{
                    max-width: 149px;
                }
            }
        }

        .input-block-complete {
            overflow-y: overlay;
            max-height: calc(100vh - 451px);
            padding-right: 28px;

            .input-block {
                display: grid;
                //max-width: 99%;
                gap: 0.5em;

                .input-field{
                    width: 328px;
                }

                // .input-field select {
                //     width: 320px;
                // }

                .small-input-block{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    gap: 0.25em;
                    .input-field{
                        max-width: 16.5vh;
                    }
                }
            }
        }

        .tab-header {
            margin-bottom: -30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-right: 17px;
            //padding-right: 34px;

            .tab-title {
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .RequiredField {
                font-size: 1.0em;
                margin-bottom: 35px;
            }
        }
    }
            .input-block {
                display: grid;
                //max-width: 99%;
                gap: 0.5em;

                .input-field{
                    width: 328px;
                }

                // .input-field select {
                //     width: 320px;
                // }

                .small-input-block{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    gap: 0.25em;
                    .input-field{
                        max-width: 16.5vh;
                    }
                }
            }
        }

        .tab-header {
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-right: 17px;
            //padding-right: 34px;

            .tab-title {
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .RequiredField {
                font-size: 1.0em;
                margin-bottom: 35px;
            }
        }


.right-aligned {
    display: flex;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
}


.tabs-item-selected {
    a {
        color: #ec0016 !important;
    }
    a {
        color: #ec0016 !important;
    }
}


.tabs-item-valid::before {
    border: solid 1.5px #878c96 !important;
    background-color: #878c96 !important;
    color: #fdfdfd !important;
    border: solid 1.5px #878c96 !important;
    background-color: #878c96 !important;
    color: #fdfdfd !important;
}


.tabs-item-selected::before {
    border: solid 1.5px #ec0016 !important;
    background-color: #ec0016 !important;
    color: #fdfdfd !important;
    border: solid 1.5px #ec0016 !important;
    background-color: #ec0016 !important;
    color: #fdfdfd !important;
}


.tabs-item-filled::before {
    background-color: #878c96 !important;
    color: #fdfdfd !important;
    background-color: #878c96 !important;
    color: #fdfdfd !important;
}


.tabs {
    counter-reset: my-tabs-counter;
    .tabs-item {
        padding: 0 0 20px 20px;
        position: relative;
        max-height: 22px;
    }

    .tabs-item::before {
        content: counter(my-tabs-counter);
        counter-increment: my-tabs-counter;
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        left: -9.5px; // horizontal position of dot
        top: 0;
        border: solid 1.5px #d7dce1;
        background-color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #878c96;
        text-align: center;
        font-family: "DB Screen Sans", Roboto, "Helvetica Neue", sans-serif;
    }

    .tabs-line {
        padding: 0 0 20px 20px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-left: 2px solid #d7dce1;
        position: relative;
        height: 42px;
    }
    counter-reset: my-tabs-counter;
    .tabs-item {
        padding: 0 0 20px 20px;
        position: relative;
        max-height: 22px;
    }

    .tabs-item::before {
        content: counter(my-tabs-counter);
        counter-increment: my-tabs-counter;
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        left: -9.5px; // horizontal position of dot
        top: 0;
        border: solid 1.5px #d7dce1;
        background-color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #878c96;
        text-align: center;
        font-family: "DB Screen Sans", Roboto, "Helvetica Neue", sans-serif;
    }

    .tabs-line {
        padding: 0 0 20px 20px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-left: 2px solid #d7dce1;
        position: relative;
        height: 42px;
    }
}


.disabled-input {
    pointer-events: none;
    opacity: 0.4;
    pointer-events: none;
    opacity: 0.4;
}

.span-two {
    grid-column: 1 / span 2;
    textarea {
        width: 100%;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-overflow{
    overflow:unset;
}

.error-block {
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: right;
}

.flex-row {
    max-height: 72px;
    display: flex;
    flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
