::ng-deep span.dropdown-btn {
  border: none !important;
  box-shadow: none !important;
  height: 52px !important;         
  min-height: 52px !important;     
  line-height: 50px !important;    
  padding-top: 0 !important;       
  padding-bottom: 0 !important;    
}